body {
  background-image: url('../public/WhiteBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  background-position: 15%;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

.plans-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.25rem;
}

.add-ons-title {
  font-family: 'Luxurious Roman', cursive;
  color: var(--text-color);
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  margin: 5.75rem 0 2.5rem;
}

.add-ons-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.25rem;
}

.plan-card-btn {
  background-color: var(--primary-color);
  font-size: .938rem;
  color: var(--bg-color);
  border: none;
  border-radius: .25rem;
  line-height: 1.25rem;
  text-align: center;
  cursor: pointer;
}

.plan-card-btn:hover {
  background-color: #00a780;
}

.card-container {
  display: flex;
  align-items: center;
  background-color: #f2faff;
  border-radius: .5rem;
  padding: 3rem 2rem;
  margin: 6.25rem 1.25rem 6.25rem;
  font-size: 2.5rem;
  text-align: center;
  justify-content: space-between;
}

.card-container p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.card-container div {
  font-family: 'Luxurious Roman', cursive;
  line-height: 3.25rem;
  margin-right: 2rem;
  max-width: 36.375rem;
}

.faq-container-title {
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
  line-height: 2.25rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem;
  padding: 0 1.25rem;
  color: var(--text-color);
  font-size: .875rem;
}

.faq-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-container h3 {
  margin: 0;
  font-size: 1.563rem;
  transition: color .2s ease-in-out;
  line-height: 1.875rem;
}

.faq-title:hover {
  color: var(--primary-color);
}

.faq-container p {
  margin: .625rem 0 .625rem;
  line-height: 1.5rem;
  text-align: left;
}