footer {
  margin-top: 6.875rem;
  color: var(--text-color);
  padding: 0 1.978rem 9.75rem;
  font-size: 1rem;
  font-weight: 300;
}

.footer-list h3, .footer-list h4 {
  margin: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2.875rem;
}

.footer-list h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1.563rem;
}

.footer-list a {
  text-decoration: none;
  color: var(--text-color);
}

.footer-list a:hover {
  color: #000000;
}

.space-list {
  height: 1.625rem;
}

.footer-list h4 {
  font-weight: 600;
  margin-bottom: .625rem;
}

.footer-dropdown-container {
  overflow: hidden;
}

.footer-dropdown-container div {
  display: flex;
  align-items: center;
  gap: .3rem;
  cursor: pointer;
  background-color: var(--bg-color);
}

.footer-dropdown {
  list-style: none;
  padding: 0 0 0 .5rem;
  overflow: hidden;
  max-height: 0rem;
  transition: max-height .3s ease-in-out;
}

.footer-dropdown-active {
  max-height: 15rem;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  footer {
    padding: 6.25rem 10.14rem 6rem;
  }
}