nav {
  display: flex;
  justify-content: space-between;
  height: 5.25rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 2.625rem;
  left: 2.625rem;
  z-index: 100;
}

.nav-scroll-active {
  background-color: var(--bg-color);
  height: 5.25rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all .2s ease-in-out;
}

nav img {
  height: 1.938rem;
  cursor: pointer;
}

.navbar__menu-icon {
  font-size: 2rem;
  cursor: pointer;
}